{{#each this as |allsurvey|}}
{{#allsurvey}}
<div class="all-survey" data-id="{{_id}}">
  <!-- <div class="survey-title" data-id="{{_id}}">
    <h6>
      Title: <div class="survey-title">{{title}}</div>
    </h6>
  </div> -->
  <div class="survey-question" data-id="{{_id}}">
    <h6>
      Question: <div class="survey-question">{{question}}</div>
    </h6>
  </div>
  <div class="survey-answer" data-id="{{_id}}">
    <form class="survey-answer-create" data-id="{{_id}}">
    <select id="survey-answer" class="survey-answer-{{_id}}">
      <option value="">Answers</option>
      <option value="Agree" name="survey[answer]">Agree</option>
      <option value="Disagree" name="survey[answer]">Disagree</option>
    </select>
    <button class="btn submit-answer-{{_id}}" type="submit" value="submit">Submit answer</button>
</form>
</div>
  </div>
  <!-- <button class="submit-btn submit-btn-{{_id}}" type="submit" value="submit" data-id="{{_id}}">Submit</button> -->
</section>
{{else}}
<p>There are no surveys currently created. Please create one to begin.</p>
{{/allsurvey}}
{{/each}}
