{{#each this as |survey|}}
{{#survey}}
<div class="survey">
    <section data-id="{{survey.id}}">
      <h5>
         Title: <div class="survey-title">{{title}}</div>
       </h5>

<!-- view -->
<h5>
   Title: <div class="survey-title">{{title}}</div>
   Question: <div class="survey-question">{{question}}</div>
</h5>
<button class="btn btn-default delete-survey">Remove Survey</button>
<button class="btn btn-default update-survey" data-id="{{id}}">Update Survey</button>
